html,
body {
  height: 100%;
}

#app {
  font-family: $fonts;
  color: #2c3e50;
}

div {
  box-sizing: border-box;
}

.layout {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    overflow: auto;
  }

  &__title {
    font-size: 4em;
    color: #fff;
    font-weight: 300;
    @media screen and (max-width: $break-small) {
      font-size: 2em;
    }
  }
}

.weather {

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
    @media screen and (max-width: $break-small) {
      flex-wrap: wrap;
    }
  }
  &__wrapper {
    color:  #333;
    text-decoration: none;
    width: 100px;
    margin: 10px;
    display: block;
    @media screen and (max-width: $break-small) {
      width: 80%;
    }
  }
  &__item {
    width: 100%;
    min-height: 150px;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.75);
    }
  }
  &__header {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
  }
}
